
.alert{
    margin: 80px 40px;
    color: $main-col-dark;
    font-weight: 600;
    font-size: 1.1rem;
}
.MuiTablePagination-actions{
    margin: 10px;
}
.MuiButtonBase-root{
    margin: 5px !important;
}
.MuiTableCell-head{
    font-weight: 600 !important;
    font-size: 1rem !important;
}


@media (max-width: $mobile-breakpoint) {
    .MuiTableContainer-root {

        max-height: calc(100vh - 125px) !important;    
    }
}