.flex{display: flex;}
.col{flex-direction: column;}
.align-c{align-items: center;}
.align-s{align-items: flex-start;}
.align-e{align-items: flex-end;}
.justify-c{justify-content: center;}
.justify-s{justify-content: flex-start;}
.justify-e{justify-content: flex-end;}
.justify-sa{justify-content: space-around;}
.justify-sb{justify-content: space-between;}
.justify-se{justify-content: space-evenly;}