.app-container {
    &.dark {
        background-color: $sec-bg-dark;
        .app-header {
            background-color: $main-bg-dark;
        }
        .forcast-container {
            color: $main-col-dark;
        }
        .search-center-container {
            .search-and-results-container {
                background-color: $main-bg-dark;
                color: $main-col-dark;
                li{
                    color: $main-col-dark;

                }
                input {
                    color: $main-col-dark;
                    &::placeholder {
                        color: $main-col-dark;
                    }
                }
            }
        }
        .attachments-container {
            color: $main-col-dark;
            input {
                color: $main-col-dark;
                background-color: $main-bg-dark;

                &::placeholder {
                    color: $main-col-dark;
                }
            }
            .post-preview{
            color: $main-col-dark;
            img{
                filter:brightness(0.5);
            }

            }
        }
        .MuiPaper-root {
            background-color: $main-bg-dark;
        }
        .MuiTableCell-root{
            background-color: $main-bg-dark;
            border-bottom: 1px solid $sec-bg-dark;
            color: $main-col-dark;
        }
        .MuiToolbar-root{
            
            color: $main-col-dark;
        }
        button{
            color: $main-col-dark;

        }
    }
}


@media (max-width: $mobile-breakpoint) {
    
    .dark{
        .menu-icon{
            
            color: $main-col-dark !important;
        }
        nav{
            color: $main-col-dark !important;
            background-color: $main-bg-dark !important;
        }
    }
}