// // // Setup
@import "setup/variables";

//  helpers
@import "helpers/Flex";

// Dark Mode
@import "./darkMode.scss";

//Pages
@import "pages/WeatherDetails";

// Cmps
@import "cmps/AppHeader";
@import "cmps/SnackBar";
@import "cmps/Search";

* {
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    width: 98vw;
    height: 98vh;
    display: flex;
    justify-content: center;
}

.app {
    padding: 10px;
    // border: 1px solid black;
    width: 1200px;
    min-height: 100%;
    // display: flex;
}

.page {
    display: flex;
    // justify-content: center;
    padding: 30px;
    padding-top: 0;
    position: relative;
    z-index: 10;
    flex-direction: column;
    margin-top: 80px;
    .favorite-icon {
        margin: 1px 0;
        fill: red;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.3s;
        padding: 3px;
        border-radius: 0;
        box-shadow: 0px 0px 0px 0px rgb(134 134 134 / 71%);
        &:hover {
            // box-shadow: 0px 0px 20px 0px rgb(134 134 134 / 38%);
            border-radius: 5px;
            background: #d8e1e7;
        }
        &.search:hover {
            background: none;
            border-radius: none;
        }
    }
}

li {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul {
    margin: 0;
    padding: 0;
}

button {
    padding: 5px 30px;
    background-color: #092a4ee6;
    border-radius: 50px;
    box-shadow: $main-shadow;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

@media (max-width: $normal-breakpoint) {
    .app {
        width: 900px;
        padding: 0;
    }
}
@media (max-width: $narrow-breakpoint) {
    .app {
        width: 600px;
    }
}
@media (max-width: $mobile-breakpoint) {
    body {
        width: unset;
        height: unset;
        display: unset;
    }
    .app {
        width: 100%;
    }
    .app-container {
        display: unset;
    }
    .page {
        padding: 0;
        margin-top: 0;
    }
    .MuiPaper-root {
        width: unset !important;
    }
}

.MuiTableContainer-root::-webkit-scrollbar {
    width: 0;
    // height: 0;
    // scroll-margin: 50px 0 0 50px;
}
